{% extends 'base.html' %}

{% block titulo %}
Registo de Novo Criador de Festas
{% endblock titulo %}

{% block conteudo %}
<h1>Registo de Criador de Festas</h1>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img src="assets\UniFestas.png" style="width: 300px; margin-top: 20px;" alt="logo">
                            </div>
                            <div class="px-md-5 mx-md-4">
                                <h3 class="mb-4">Começa a criar festas!</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">
                                <form method="post">
                                    {% csrf_token %}
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example15">Email da Organização</label>
                                        {{form_criador.email_organizacao.errors}}
                                        {{form_criador.email_organizacao}}
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example15">Nome do Responsável</label>
                                        {{form_criador.username.errors}}
                                        {{form_criador.username}}
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example15">Organização</label>
                                        {{form_criador.organizacao.errors}}
                                        {{form_criador.organizacao}}
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form2Example15">Cargo</label>
                                        {{form_criador.cargo.errors}}
                                        {{form_criador.cargo}}
                                    </div>
                                    <div class="text-center pt-1 mb-1 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-primary btn-block fa-lg color-custom mb-3 custom-button"
                                            type="button" value="Cadastrar">Ser Criador</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}