{% extends 'base.html' %}
{% load meus_filtros %}

{% block titulo %}
Registo de Novo User
{% endblock titulo %}

{% block conteudo %}
<h1>Registo de User</h1>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <img src="assets\UniFestas.png" style="width: 300px; margin-top: 20px;" alt="logo">
                            </div>
                            <div class="px-md-5 mx-md-4">
                                <h3 class="mb-4">Sign Up</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example11">Nome</label>
                                                <br>
                                                {{form_usuario.username.errors}}
                                                {{form_usuario.username|addclass:'form-control'}}
                                            </div>

                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example12">Data de
                                                    Nascimento</label>
                                                <br>
                                                {{form_usuario.data_nascimento.errors}}
                                                {{form_usuario.data_nascimento|addclass:'form-control'}}
                                            </div>

                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example13">Sexo</label>
                                                <br>
                                                {{form_usuario.sexo.errors}}
                                                {{form_usuario.sexo|addclass:'form-control'}}
                                            </div>

                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example14">E-mail</label>
                                                <br>
                                                {{form_usuario.email.errors}}
                                                {{form_usuario.email|addclass:'form-control'}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example15">Número de
                                                    Telemóvel</label>
                                                <br>
                                                {{form_usuario.n_telemovel.errors}}
                                                {{form_usuario.n_telemovel|addclass:'form-control'}}
                                            </div>

                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example16">Password</label>
                                                <br>
                                                {{form_usuario.password1.errors}}
                                                {{form_usuario.password1|addclass:'form-control'}}
                                            </div>

                                            <div data-mdb-input-init class="form-group mb-4">
                                                <label class="form-label" for="form2Example17">Confirmar
                                                    Password</label>
                                                <br>
                                                {{form_usuario.password2.errors}}
                                                {{form_usuario.password2|addclass:'form-control'}}
                                            </div>
                                            <div class="text-center pt-1 mb-1 pb-1">
                                                <button data-mdb-button-init data-mdb-ripple-init
                                                    class="btn btn-primary btn-block fa-lg color-custom mb-3 custom-button"
                                                    type="submit" value="Cadastrar">Sign Up</button>
                                            </div>
                                            <div class="text-center pt-1 mb-1 pb-1">
                                                <p>Já tens uma conta? <a class="text-muted" href="{% url 'logar_usuario' %}">Faz
                                                        login aqui!</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}